@font-face {
  font-family: 'Fixedsys';
  src: url('../ASSETS/fonts/fixedsys/fsex300-webfont.eot');
  src: local('â˜º'), 
       url('../ASSETS/fonts/fixedsys/fsex300-webfont.woff') format('woff'), 
       url('../ASSETS/fonts/fixedsys/fsex300-webfont.ttf') format('truetype'), 
       url('../ASSETS/fonts/fixedsys/fsex300-webfont.svg') format('svg');
}

@font-face {
  font-family: 'Hacker1';
  src: url('../ASSETS/fonts/hacker1/hacker1-webfont.eot');
  src: local('â˜º'), 
       url('../ASSETS/fonts/hacker1/hacker1-webfont.woff') format('woff'), 
       url('../ASSETS/fonts/hacker1/hacker1-webfont.ttf') format('truetype'), 
       url('../ASSETS/fonts/hacker1/hacker1-webfont.svg') format('svg');
}

@font-face {
  font-family: 'Hacker2';
  src: url('../ASSETS/fonts/hacker2/hacker2-webfont.eot');
  src: local('â˜º'), 
       url('../ASSETS/fonts/hacker2/hacker2-webfont.woff') format('woff'), 
       url('../ASSETS/fonts/hacker2/hacker2-webfont.ttf') format('truetype'), 
       url('../ASSETS/fonts/hacker2/hacker2-webfont.svg') format('svg');
}


@font-face {
  font-family: 'Matrix';
  src: url('../ASSETS/fonts/matrix/mCode15.eot');
  src: local('â˜º'), 
       url('../ASSETS/fonts/matrix/mCode15.woff') format('woff'), 
       url('../ASSETS/fonts/matrix/mCode15.ttf') format('truetype'), 
       url('../ASSETS/fonts/matrix/mCode15.svg') format('svg');
}


@font-face {
  font-family: 'Alien';
  src: url('../ASSETS/fonts/alien/alien.eot');
  src: local('â˜º'), 
       url('../ASSETS/fonts/alien/alien.woff') format('woff'), 
       url('../ASSETS/fonts/alien/alien.ttf') format('truetype'), 
       url('../ASSETS/fonts/alien/alien.svg') format('svg');
}



	body{ font-family:Arial, Segoe UI;background-color:rgb(0, 0, 0);
	background-image:url(../ASSETS/textures/0.png);
	background-repeat: repeat;
	 background-position: center center;
	     background-attachment: fixed;
		 margin:0;
		 padding:0;
	 user-select:none;
-moz-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow:hidden;
z-index:0;
color:rgb(255, 0, 0);



	
	}
	
.SD {float:left;	 user-select:text;
-moz-user-select:text;
-webkit-user-select:text;
-ms-user-select:text;}
	
	hr { color: #555;
background-color: #555;border:0;
height: 2px; }
	
	.ac img{width:50px;height:50px;display:block;float:left;margin:5px;border:2px solid grey;}

	
	#close {float:right;}


#folders {position:fixed;right:50px;top:30px;width:64px;}


	
.folder {
    width: 48px;
    height: 32px;
    position: relative;
    background-color:rgb(255, 0, 0);
    border-radius: 3px 3px 3px 3x;
margin:30px;
	cursor:pointer;
	float:left;
}

.folder:before {
    content: '';
    width: 50%;
    height: 6px;
    border-radius: 0 3px 0 0;
    background-color: #ccc;
    position: absolute;
    top: -6px;
    left: 0px;
		cursor:pointer;
}

.folder p {padding-top:40px;text-align:center;padding-bottom:20px;font-size:9px;}



select {
margin: 0;
overflow: hidden;
cursor: pointer;
padding: 6px;
display: inline-block;
border: solid 1px #91765d;
background: #eee;
color: #333;
vertical-align: middle;
}


#section {
display:none;
position:fixed;
background:#CCC;
width:100%;
height:37px;
padding:10px;
z-index:997;
color:#000;
font-family:Arial, Segoe UI;

}

#section2 {
left:950px;
overflow: hidden;
cursor: pointer;
padding: 6px;
top:10px;
width:200px;
height:18px;
float:right;
margin-right:500px;
border: solid 1px #91765d;
background: #eee;
color: #333;
font-size:8px;
position:absolute;
display:none;


}

#section button {color:#000;border:0;background-color:#333;padding:5px;}


#console {
z-index:44;
padding:10px;

}


#center {
position:fixed;
height:100%;
width:100%;
z-index:-1;
background-image:url(../ASSETS/logos/0.png);
background-repeat:no-repeat;
background-position:center;
/*background-size: auto 200px; */
}



.footerbtns {position:fixed; bottom:10px; right:10px;border:0;}
.footerbtns a {border:0;}
.footerbtns a img {border:0;}
.footerbtns img{border:0;}



 


.logosmall

{width:150px;}

#button {
   color: #000;
padding:2px;
padding:3px;

    text-decoration: none;
    cursor: poiner;
	font-family:Hardreq, monospace;
     border:none;
}

#button:hover {
   color: #000;

background-color:#adfb8b;
    text-decoration: none;
    cursor: poiner;
	font-family:Hardreq, monospace;
     border:none;
}

.box {

background:#262425;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363533), color-stop(100%,#1a1819)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #363533 0%,#1a1819 100%); /* Chrome10+,Safari5.1+ */
width:240px;
height:94px;
    position:fixed;
    bottom:-100px;
    right:0px;
    z-index:101;
	border-top-left-radius:2px;
border-top-right-radius: 2px;
border:1px solid black;
font-family:Arial;
}

.box img {background:#ccc;width:64px;height:64px;margin:16px;float:left;}
.box h1 {font-weight:normal;padding-top:20px;margin-bottom:5px;color:#eaeaea;font-size:11px;float:left;}
.box p {color:#adadad;font-size:11px;float:left;}



.Desc {

bottom:5px; text-align:center; font-size:8px;color:grey;text-shadow:none; font-family:arial; padding:0;margin:0;text-align:center;}


    .hide  { display:none; }
.clickEvent { overflow:hidden;margin:10px;bottom:5px;left:25px;right:25px;position:fixed;font-family:Arial;color:white; border-style:solid;border-width:3px;background-color:#000; max-height:150px; padding:20px; }
.bgsection {cursor:default;color:white;width:60px;height:30px;background:red;margin:2px;padding:5px;float:left;}
.logosection {cursor:default;color:white;width:30px;height:30px;background:red;margin:2px;padding:5px;float:left;}
.msection {cursor:default;color:white;width:30px;height:30px;background:red;margin:2px;padding:5px;float:left;}
.msection2 {cursor:default;color:white;width:50px;height:30px;background:red;margin:2px;padding:5px;float:left;}


.segment {float:left;height:150px;padding-bottom:30px;}


#stuff {display:none;}

@media screen and (min-width: 1680px) {  

#stuff {display:block;}

}
.dialog {
width:300px;
position:fixed;
background-repeat:repeat;
top: 50%;
left: 50%;
z-index:999;
margin-top: -50px;
margin-left: -160px;
text-shadow: 0.1em 0.1em 0.2em #000;
text-align:center;
padding:20px;
}

#AccessGranted{
background:url(../ASSETS/img/granted.gif);
border:2px solid #83f352;
color:#83f352;
}

#AccessDenied{
background:url(../ASSETS/img/denied.gif);
border:2px solid #F00;
color:#F00;
}

#LevelRequired{
background:url(../ASSETS/img/denied.gif);
border:2px solid #F00;
color:#F00;
top: 40%;
}

.dragme p { cursor:pointer; }

.dragme {

position:fixed;
text-shadow: 0.1em 0.1em 0.2em #000;
background-color:#000;
margin-left: -330px;
text-align:center;
font-size:16px;
padding:20px;
margin-top: -150px;
width:630px;
top: 50%;
left: 50%;
color:rgb(255, 0, 0);
cursor:default;
border-color:rgb(255, 0, 0);
border-style: solid;
border-bottom-width:3px;
border-left-width:3px;
border-right-width:3px;
border-top-width:20px;

}

#Downloading {

width:615px;

}

#Query {

width:630px;
top: 50%;
left: 30%;

}


#BigFolder {

width:560px;
top: 60vh;
left: 70%;

}


#Irc {
width:500px;
top: 70%;
left: 10%;
}

#Tracing {

width:630px;
top: 20%;
left: 30%;

}
#Neurotoxin {

top: 70%;
left: 60%;

}
#Breach {

width:615px;

}

#Countdown {

width:615px;

}

#Hash {
width:615px;
top: 60%;
left: 20%;

}

#Password {

width:615px;

}

#Evacuate {

width:615px;

}

#Evacuate  img{
background:#FF0;

}

#Rat {

width:500px;
top: 70%;
left: 80%;

}


#Initializing {

width:415px;
top: 30%;
left: 30%;

}


#Deploy {

width:415px;
top: 50%;
left: 50%;

}


#Console {

width:640px;
top: 60%;
left: 70%;

}


#Stability {

width:640px;

}



#CustomWindow {

width:500px;
top: 50%;
left: 50%;

}


#customimage {
width:100%;
}

#Pipe {

width:500px;
top: 60%;
left: 20%;

}

#Flash {
width:640px;
top: 60%;
left: 70%;

}

#Audio {

width:640px;
top: 30%;
left: 30%;

}

#Sequence {

width:640px;
top: 70%;
left: 55%;

}

#Random {

width:700px;
top: 30%;
left: 20%;

}



#Scan {

width:615px;
top: 50%;
left: 50%;

}

#Poke{

top: 50%;
left: 50%;
width:573px;

}

#Pony {
position:fixed;
background:transparent;
border:0;
right: 5%;
width:200px;
height:200px;
bottom: 5%;
z-index:499;
}


#Help {

width:900px;
top: 50%;
left: 50%;
margin-top: -152px;
margin-left: -450px;
z-index:499;

}

#Numbers  img{
position:fixed;
right: 8%;
width:400px;
top: 5%;
z-index:-1;
}

#Radar  img{
position:fixed;
right: 8%;
width:400px;
bottom: 5%;
z-index:-1;
}

#Map {

}

#SystemFailure{


background:url(../ASSETS/img/ani-system_failure.gif) center center no-repeat #000;
width:99.8%;
height:99.8%;
top:0;
left:0;
margin-top: 0;
margin-left: 0;
text-align:center;
color:#83f352;
z-index:998;
border:0;
}

#ConnectionLost{
position:fixed;
background:#000;
width:100%;
height:100%;
top:0;
left:0;
margin-top: 0;
font-size:24px;
padding-top:25%;
margin-left: 0;
text-align:center;
color:#F00;
z-index:999;
text-shadow: 0 0 0 #000;
}
body {background-image:url('../ASSETS/textures/0.png');background-color:rgb(0,0,0);color:rgb(245,245,245);}
#console {font-family:Fixedsys, Sans-Serif;}
#center {background-image:url('../ASSETS/logos/0.png');}
.folder {background-color:rgb(245,245,245);}
.dragme {border-color:rgb(245,245,245);color:rgb(245,245,245);}

#button {background-color:rgb(245,245,245);color:rgb(0,0,0);}
#button:hover {color:rgb(245,245,245);background-color:rgb(0,0,0);}
